.venv/
__pycache__/

data/raw/*
data/work/*
data/processed/*
models/*

!data/raw/.gitkeep
!data/work/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

*.zip
*.rar
*.pkl
*.h5
*.keras
*.pt
*.pth
*.mat
*.xls
*.xlsx
*.mp4
*.wmv
*.pdf